<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<ul>
  <li><%= link_to 'Leave Types', [:leave, :types]%></li>
  <li><%= link_to 'Leave Groups', [:leave, :groups] %></li>
  <li><%= link_to 'Todo List', [:todo_lists] %></li>
</ul>
